{% extends "base.html" %}
{% block title %}Password Reset at {{ block.super }}{% endblock title %}
{% block content %}
<h1>Reset Your Password</h1>
<form method="post" action="{{ request.path }}">
    {% csrf_token %}
    <div class=logintable>
        <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">Naujas slaptažodis:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Patvirtinkite:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Pakeisti slaptažodį" class="pakeistipsw" /></td>
            </tr>
        </table>
    </div>
</form>
{% endblock content %}

